@charset "utf-8";
$partnerbackoffice-container-background: var(--bo-base-background);
$partnerbackoffice-container-font-family: var(--bo-font-family);
$partnerbackoffice-container-font-size: $font-size__base;
$partnerbackoffice-label-text-color: var(--bo-text-color);
